In [ ]:
# Imperative Programming <OOP>
lst = [8, 4, 14, 9, 12, 5, 7, 1, 10, 2, 3]
 
# Sort using Selection Sort algorithm
for i in range(len(lst)):
  min_idx = i
  for j in range(i+1, len(lst)):
    min_idx = j if lst[j] < lst[min_idx] else min_idx
  temp = lst[i]
  lst[i] = lst[min_idx]
  lst[min_idx] = temp

# Decalative Programming <FP>

lst = [8, 4, 14, 9, 12, 5, 7, 1, 10, 2, 3]
 
list.sort(lst)

In [ ]:
# deterministic Function with side effect>>> affecting ans

ans = 0
 
def add(x, y): # This function has side effects
  ans = x + y


# Pure Function >> Mo side effect

ans = 0
def add(x, y): # This function has no side effects
  return x + y
 
ans = add(x, y)

In [ ]:
# Function dependent on external variable and not reusable
lst = [1,2,3,4,5]
 
def app():
  ret = list(lst)
  ret[0] = 0
  ret[-1] = 0
  return ret
 
zero_list = app()

## The app(l) function is free of side effects and is now also reusable.

lst = [1,2,3,4,5]
 
def app(l):
  ret = list(l)
  ret[0] = 0
  ret[-1] = 0
  return ret
 
zero_list = app(lst)

In [ ]:
# Passing function as an argument to another function
def add(x, y):
  return x + y
 
def sub(x, y):
  return x - y
 
def times3(a, b, function):
  return 3 * function(a, b)
 
add_then_times3 = times3(2, 4, add) # 18
sub_then_times3 = times3(2, 4, sub) # -6


# Using Lambda

def times3(a, b, function):
  return 3 * function(a, b)
 
add_then_times3 = times3(2, 4, lambda x, y: x + y) # 18
sub_then_times3 = times3(2, 4, lambda x, y: x - y) # -6

#### Properties

###### 1)Immutable Data types

In [ ]:
student  = (("Scott", 28, 'A'), ("Nicole", 26, 'B'), ("John", 29, 'D')) # mixed elements

In [4]:
from collections import namedtuple
 
# Create a class called student
student = namedtuple("student", ["name", "age", "grade"]) 
 
# Create tuples for the three students
 
scott = student("Scott", 28, 'A')
nicole = student("Nicole", 26, 'B')
john = student("John", 29, 'D')

In [5]:
# Access Scott’s information for example
print(scott.name) # Output: Scott
print(scott.age) # Output: 28
print(scott.grade) # Output: ‘A’

Scott
28
A

In [6]:
from collections import namedtuple

# Checkpoint 1 code goes here.
country = namedtuple("country", ['name', 'capital', 'continent'])
# Checkpoint 2 code goes here.

france = country('France', 'Paris', 'Europe')
japan = country('Japan', 'Tokyo', 'Asia')
senegal = country('Senegal', 'Dakar', 'Africa')
# Checkpoint 3 code goes here.

countries = (france, japan, senegal)

countries.france.name

AttributeError: 'tuple' object has no attribute 'france'

###### 2) Lmabda Function

In [7]:
def rect(b, h):
  return b * h
 
def tri(b, h):
  return 0.5 * (b * h)
 
# ppsm: price per square meter
# dim: dimensions tuple
def total_cost(ppsm, dim, area):
  return ppsm * area(dim[0], dim[1])
 
print(total_cost(3, (5, 5), rect)) # Rectangular sheet costing 75 units
print(total_cost(4, (6, 7), tri)) # Rectangular sheet costing 84 units

75
84.0

In [9]:
# ppsm: price per square meter
# dim: dimensions tuple
def total_cost(ppsm, dim, area):
  return ppsm * area(dim[0], dim[1])
 
print(total_cost(3, (5, 5), lambda b, h: b*h)) # Rectangular sheet costing 75 units
print(total_cost(4, (6, 7), lambda b, h: 0.5 * b*h)) # Rectangular sheet costing 84 units

75
84.0

In [10]:
""" 
def squared(x):
  return x * x

def cubed(x):
  return x*x*x
"""
def odd_or_even(n, even_function, odd_function):
  if n % 2 == 0:
    return even_function(n)
  else: 
    return odd_function(n) 

square = lambda x: x*x
cube = lambda x: x*x*x

test  = odd_or_even(5, cube, square)

print(test) # Uncomment the print function to see the results of Checkpoint 3.

25

###### 3) Review of filter(), map(), and reduce()

In [11]:
nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
 
# filter_values is not a higher-order function
def filter_values(predicate, lst):
 
  # Mutable list required because this example is imperative, not declarative
  ret = []
  for i in lst:
    if predicate(i):
      ret.append(i)
  return ret
 
filtered_numbers = filter_values(lambda x: x % 2 == 0, nums) 
 
print(filtered_numbers) 
 
# This will output the list: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [12]:
nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
 
filtered_numbers = filter(lambda x: x % 2 == 0, nums) 
 
print(tuple(filtered_numbers))

(2, 4, 6, 8, 10)

In [ ]:
nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
 
def mapper(function, lst):
  ret = []
  for i in lst:
    ret.append(function(i))
  return ret
 
mapped_numbers  = mapper(lambda x: x*x, nums)
 
print(tuple(mapped_numbers))
 
# This will output: (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
# With map()
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
 
mapped_numbers = map(lambda x: x*x, numbers) 
 
print(tuple(mapped_numbers))
 
# This will also output: (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [13]:
nums = (2, 6, 7, 9, 1, 4, 8)
 
sum = 0
 
for i in nums:
  sum += i
 
print(sum) # Output: 37


from functools import reduce
 
nums = (2, 6, 7, 9, 1, 4, 8)
 
reduced_nums = reduce(lambda x, y: x + y, nums) # reduced_nums is a number
 
print(reduced_nums) # Output: 37

37
37

In [ ]:
from functools import reduce
nums = (16, 2, 19, 22, 10, 23, 16, 2, 27, 29, 19, 26, 12, 20, 16, 29, 6, 2, 12, 20)

filtered_numbers = filter(lambda x: x % 2 == 0, nums)

print(tuple(filtered_numbers))

mapped_numbers = map(lambda x: x * 3, nums)

print(tuple(mapped_numbers))

sum = reduce(lambda x, y: x + y, nums)

print(sum)

###### 5) Mapping a Filtered Collection

we will see how we can combine the map() and filter() functions.

In [15]:
from collections import namedtuple
 
# Create a class called student
student = namedtuple("student", ["name", "grade", "course_number"]) 

# Create the records for the students in the form of tuples
 
peter = student("Peter", 'B', 101)
amanda = student("Amanda", 'C', 101 )
sarah = student("Sarah", 'A', 102)
lisa = student("Lisa", 'D', 101)
alex = student("Alex", 'A', 102)
maria = student("Maria", 'B', 101)
andrew = student("Andrew", 'C', 102)
 
math_class = (peter, amanda, sarah, lisa, alex, maria, andrew)

In [16]:
math_201 = map(lambda s: student(s.name, 'X', 201), filter(lambda q: q.grade <= 'B', math_class))
 
print(tuple(math_201))

(student(name='Peter', grade='X', course_number=201), student(name='Sarah', grade='X', course_number=201), student(name='Alex', grade='X', course_number=201), student(name='Maria', grade='X', course_number=201))

In [ ]:
# Given the tuple nums multiply values that are greater than 10 by two. 
nums = (2, 12, 5, 8, 9, 3, 16, 7, 13, 19, 21, 1, 15, 4, 22, 20, 11)

# Checkpoint 1 code goes here.
greater_than_10_doubled = map(lambda x: x*2, filter(lambda y: y > 10, nums))

print(tuple(greater_than_10_doubled))

In [ ]:
# convert to declaritive 
lst = []
for i in nums:
  if i % 3 == 0:
    lst.append(i)
 
for i in range(len(lst)):
  lst[i] = lst[i] * 3
 
tuple(lst)

# Checkpoint 2 code goes here.
functional_way = map(lambda x: x * 3, filter(lambda y: y % 3 == 0, nums))

print(tuple(functional_way))

###### 6) Reducing a Filtered Collection

In [17]:
# “filter the menu for appetizers and return the least expensive one.”

from collections import namedtuple
from functools import reduce
 
# Prices are in USD
menu_item = namedtuple("menu_item", ["name", "dish_type", "price"])
 
jsp = menu_item("Jumbo Shrimp Platter", "Appetizer", 29.95)
lc = menu_item("Lobster Cake", "Appetizer", 30.95)
scb = menu_item("Sizzling Canadian Bacon", "Appetizer", 9.95)
ccc = menu_item("Codecademy Crab Cake", "Appetizer", 32.95)
cs = menu_item("Caeser Salad", "Salad", 14.95)
mgs = menu_item("Mixed Green Salad", "Salad", 11.95)
cp = menu_item("Codecademy Potatoes", "Side", 34.95)
mp = menu_item("Mashed Potatoes", "Side", 14.95)
rs = menu_item("Ribeye Steak", "Entree", 75.95)
phs = menu_item("Porter House Steak", "Entree", 131.95)
 
menu = (jsp, lc, scb, ccc, cs, mgs, cp, mp, rs, phs)

In [21]:
# apps only contains items with dish_type == "Appetizer"
apps = [i for i in menu if i.dish_type == "Appetizer"] 
cheapest_app = apps[0] 
for i in apps:
    if i.price < cheapest_app.price:
        cheapest_app = i
 
print(cheapest_app) # Output will be: menu_item("Sizzling Canadian Bacon", "Appetizer", 9.95)

menu_item(name='Sizzling Canadian Bacon', dish_type='Appetizer', price=9.95)

In [19]:
# find the most expensive dish that is an entree

entree = reduce(lambda x, y: x if x.price > y.price else y, filter(lambda x: x.dish_type == "Entree", menu))

print(entree)

menu_item(name='Porter House Steak', dish_type='Entree', price=131.95)

In [20]:
# find the least expensive dish that is either a side or a salad
least_expensive= reduce(lambda x, y: x if x.price < y.price else y, filter(lambda x: x.dish_type == "Side" or x.dish_type == "Salad", menu))

print(least_expensive)

menu_item(name='Mixed Green Salad', dish_type='Salad', price=11.95)

###### 7) Reducing a Mapped Collection

In [22]:
from functools import reduce
 
# Dictionary entry: {"name: (number_or_units_sold, price_per_unit_GBP)}
costs = {"shirt": (4, 13.00), "shoes":(2, 80.00), "pants":(3, 100.00), "socks":(5, 5.00)}
 
k = reduce(lambda x, y: x+y, map(lambda q: costs[q][0] * costs[q][1], costs))
print(k) # Output will be a total cost of: 537.0 GBP

537.0

In [23]:
# find the total number of fruits sold

from functools import reduce

fruits = {"Grape":(4, 6, 2), "Lemon":(7, 3, 1), "Orange":(5, 8, 1), "Apple":(2, 8, 10), "Watermelon":(0, 9, 6)}

total_fruits = 0

total_fruits = total_fruits = reduce(lambda x, y: x + y, map(lambda q: fruits[q][0] + fruits[q][1] + fruits[q][2] , fruits));

print(total_fruits)

72

###### 8) Combining all Three Higher-Order Functions
First “map” the items their individual total cost ((number of units sold) * (price per unit)).
Then eliminate (“filter” out) all items that cost more than £150.
Then “reduce” the individual costs to a single number that represents the total cost of the items.

In [24]:
from functools import reduce
 
# Dictionary entry: {"name: (number_or_units_sold, price_per_unit_GBP)}
 
costs = {"shirt": (4, 13.00), "shoes":(2, 80.00), "pants":(3, 100.00), "socks":(5, 5.00), "ties":(3, 14.00), "watch":(1, 145.00)}
 
k = reduce(lambda x, y: x + y, filter(lambda r: r <= 150.00, map(lambda q: costs[q][0] * costs[q][1], costs)))
 
print(k) # Output will be a total cost of: 264.0 GBP`

264.0

In [26]:
from functools import reduce

costs = {"shirt": (4, 13.00), "shoes":(2, 80.00), "pants":(3, 100.00), "socks":(5, 5.00), "ties":(3, 14.00), "watch":(1, 145.00)}

# find the total cost of items that cost more than £150.
total = reduce(lambda x, y: x+y, filter(lambda r: r > 150.00, map(lambda q: costs[q][0] * costs[q][1], costs)))

print(total)

460.0

In [27]:
# find all numbers less than 10, add five to them, and find their total product

nums = (24, 6, 7, 16, 8, 2, 3, 11, 21, 20, 22, 23, 19, 12, 1, 4, 17, 9, 25, 15)

product = reduce(lambda x, y: x * y, map(lambda z: z + 5, filter(lambda q: q < 10, nums)))

print(product)

72648576

###### 9) Importing Data From a CSV File

In [37]:
import csv
 
# Code for Checkpoint 1 goes here.
tree = namedtuple("tree", ["index", "width", "height", "volume"])     
    
with open('trees.csv', newline = '') as csvfile:
  reader = csv.reader(csvfile, delimiter=',', quotechar='|')
  next(reader) # Skip the first line in trees.csv that contains the data lablels.
  # Code for Checkpoint 2 goes here.
  mapper = map(lambda x: tree(int(x[0]), float(x[1]), int(x[2]), float(x[3])), reader)
  trees = tuple(mapper)
  print(trees)

(tree(index=1, width=8.3, height=70, volume=10.3), tree(index=2, width=8.6, height=65, volume=10.3), tree(index=3, width=8.8, height=63, volume=10.2), tree(index=4, width=10.5, height=72, volume=16.4), tree(index=5, width=10.7, height=81, volume=18.8), tree(index=6, width=10.8, height=83, volume=19.7), tree(index=7, width=11.0, height=66, volume=15.6), tree(index=8, width=11.0, height=75, volume=18.2), tree(index=9, width=11.1, height=80, volume=22.6), tree(index=10, width=11.2, height=75, volume=19.9), tree(index=11, width=11.3, height=79, volume=24.2), tree(index=12, width=11.4, height=76, volume=21.0), tree(index=13, width=11.4, height=76, volume=21.4), tree(index=14, width=11.7, height=69, volume=21.3), tree(index=15, width=12.0, height=75, volume=19.1), tree(index=16, width=12.9, height=74, volume=22.2), tree(index=17, width=12.9, height=85, volume=33.8), tree(index=18, width=13.3, height=86, volume=27.4), tree(index=19, width=13.7, height=71, volume=25.7), tree(index=20, width=13.8, height=64, volume=24.9), tree(index=21, width=14.0, height=78, volume=34.5), tree(index=22, width=14.2, height=80, volume=31.7), tree(index=23, width=14.5, height=74, volume=36.3), tree(index=24, width=16.0, height=72, volume=38.3), tree(index=25, width=16.3, height=77, volume=42.6), tree(index=26, width=17.3, height=81, volume=55.4), tree(index=27, width=17.5, height=82, volume=55.7), tree(index=28, width=17.9, height=80, volume=58.3), tree(index=29, width=18.0, height=80, volume=51.5), tree(index=30, width=18.0, height=80, volume=51.0), tree(index=31, width=20.6, height=87, volume=77.0))

###### 10) Processing Data From a CSV File

In [40]:
import csv
from collections import namedtuple
from functools import reduce

tree = namedtuple("tree", ["index", "width", "height", "volume"]) 

with open('trees.csv', newline = '') as csvfile:
  reader = csv.reader(csvfile, delimiter=',', quotechar='|')
  next(reader)
  mapper = map(lambda x: tree(int(x[0]), float(x[1]), int(x[2]), float(x[3])), reader)
  
  # Create a tuple called trees and populate it with data of trees that have a height greater than 75.
  t = filter(lambda x: x.height > 75, mapper) 
  trees = tuple(t)
  print(trees)

  # Checkpoint 2 code goes here.
  widest = reduce(lambda x, y: x if x.width > y.width else y, trees)
  print(widest)

(tree(index=5, width=10.7, height=81, volume=18.8), tree(index=6, width=10.8, height=83, volume=19.7), tree(index=9, width=11.1, height=80, volume=22.6), tree(index=11, width=11.3, height=79, volume=24.2), tree(index=12, width=11.4, height=76, volume=21.0), tree(index=13, width=11.4, height=76, volume=21.4), tree(index=17, width=12.9, height=85, volume=33.8), tree(index=18, width=13.3, height=86, volume=27.4), tree(index=21, width=14.0, height=78, volume=34.5), tree(index=22, width=14.2, height=80, volume=31.7), tree(index=25, width=16.3, height=77, volume=42.6), tree(index=26, width=17.3, height=81, volume=55.4), tree(index=27, width=17.5, height=82, volume=55.7), tree(index=28, width=17.9, height=80, volume=58.3), tree(index=29, width=18.0, height=80, volume=51.5), tree(index=30, width=18.0, height=80, volume=51.0), tree(index=31, width=20.6, height=87, volume=77.0))
tree(index=31, width=20.6, height=87, volume=77.0)

###### 11) Processing Data From a JSON File

In [41]:
import json
with open('cities.json') as json_file:
  cities = json.load(json_file)

In [45]:
import json
from collections import namedtuple
 
city = namedtuple("city", ["name", "country", "coordinates", "continent"])


with open('cities.json') as json_file:
  data = json.load(json_file) 

cities = map(lambda x: city(x["name"], x["country"], x["coordinates"], x["continent"]), data["city"])

In [46]:
# Store all cities that are on the continent of Asia in the tuple called asia.
asia = tuple(filter(lambda q: q.continent == "Asia", cities))

print(asia)

(city(name='Beirut', country='Lebanon', coordinates=[33.8938, 35.5018], continent='Asia'), city(name='Dubai', country='United Arab Emirates', coordinates=[25.2048, 55.2708], continent='Asia'), city(name='Mumbai', country='India', coordinates=[19.076, 72.8777], continent='Asia'), city(name='Shanghai', country='China', coordinates=[31.2304, 121.4737], continent='Asia'), city(name='Osaka', country='Japan', coordinates=[34.6937, 135.5023], continent='Asia'))

In [48]:
# Find the western-most city in the asia tuple and store it in the west variable.

west = reduce(lambda x, y: x if x.coordinates[1] < y.coordinates[1] else y, asia)

print(west)

city(name='Beirut', country='Lebanon', coordinates=[33.8938, 35.5018], continent='Asia')